<div ng-controller='chord' ng-init="init()">
    <style>
        .pieLabel {
            pointer-events: none;
        }

        .chord-legend-term {
            word-break: break-all;
        }

        .chord-remaining {
            bottom: 0;
            top: 0;
            background-color: #f00;
        }

        .chord-wrapper {
            display: table;
            width: 100%;
        }

        .chord-legend {
            display: table-row;
            height: 0;
        }

        .chord-legend {
            display: table-row;
        }

        div.tooltip {
            position: absolute;
            text-align: left;
            /*width: 60px;*/
            /*height: 28px;*/
            padding: 2px;
            color: white;
            font: 12px sans-serif;
            background: black;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
    </style>

    <div class="chord-wrapper">
        <!-- LEGEND -->
        <div class="chord-legend" ng-show="panel.counter_pos == 'above'" id='{{$id}}-legend'>
            <!-- vertical legend above -->
            <table class="small" ng-show="panel.arrangement == 'vertical'">
                <tr ng-repeat="term in data">
                    <td><i class="icon-circle" ng-style="{color:term.color}"></i></td>
                    <td class="chord-legend-term" style="padding-right:10px;padding-left:10px;">{{term.label}}</td>
                    <td>{{term.data}}</td>
                </tr>
            </table>

            <!-- horizontal legend above -->
            <span class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="term in data" style="float:left;padding-left: 10px;">
                <span>
                    <i class="icon-circle" ng-style="{color:term.color}"></i>
                    <span class="chord-legend-term">{{term.label}}</span> ({{term.data}})
                </span>
            </span>
            <!--<span class="small pull-left" ng-show="panel.tmode == 'terms_stats'">
                &nbsp | {{ panel.tstat }} of <strong>{{ panel.valuefield }}</strong>
            </span>-->
        </div>
        <!-- keep legend from over lapping -->
        <div style="clear:both">

        </div>

        <!-- CHART -->
        <div id="chordGraphic" ng-show="true" chord-chart params="{{panel}}" style="position:relative" class="pointer chord-chart">

        </div>

        <!-- LEGEND -->
        <div class="chord-legend" ng-show="panel.counter_pos == 'below'" id='{{$id}}-legend'>
            <!-- vertical legend below -->
            <table class="small" ng-show="panel.arrangement == 'vertical'">
                <tr ng-repeat="term in data">
                    <td><i class="icon-circle" ng-style="{color:term.color}"></i></i></td>
                    <td class="chord-legend-term" style="padding-right:10px;padding-left:10px;">{{term.label}}</td>
                    <td>{{term.data}}</td>
                </tr>
            </table>

            <!-- horizontal legend below -->
            <span class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="term in data" style="float:left;padding-left: 10px;">
                <span>
                    <i class="icon-circle" ng-style="{color:term.color}"></i>
                    <span class="chord-legend-term">{{term.label}}</span> ({{term.data}})
                </span>
            </span>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
