<div class="section">
    <h5>Parameters</h5>
    <!--<div class="editor-option">
        <label class="small">Start Date</label>
        <input type="date" class="input-small" ng-model="panel.startDate" ng-change="set_refresh(true)">
    </div>
    <div class="editor-option">
        <label class="small">End Date</label>
        <input type="date" class="input-small" ng-model="panel.endDate" ng-change="set_refresh(true)">
    </div>-->
    <div class="editor-option">
        <label class="small">Aggregate by</label>
        <select class="input-medium" ng-model="panel.interval" ng-options="f for f in ['','15m','30m','1h','12h','1d','1w','1M','1y']" ng-change="set_refresh(true)" ng-show="true"></select>
    </div>
    <div class="editor-option">
        <label class="small">Time Field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.timeField" ng-change="set_refresh(true)">
    </div>
    <div class="editor-option">
        <label class="small">Multipanel</label><input type="checkbox" ng-model="panel.multipanelSetting" ng-checked="panel.multipanelSetting">
    </div>
    <div class="editor-option">
        <label class="small">Length</label>
        <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
    <div class="editor-option">
        <label class="small">Order</label>
        <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"  ng-show="true"></select>
    </div>
    <div class="editor-option" ng-show="true">
        <label class="small">Exclude Terms(s) (comma separated)</label>
        <input array-join type="text" ng-model='panel.exclude'></input>
    </div>
    <div class="editor-option" ng-show="true">
        <label class="small">Seperator</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.seperator" ng-change="set_refresh(true)">
    </div>
</div>
<div class="section">
    <h5>Axis</h5>
    <table>
        <tr>
            <td>
                <div class="editor-option">
                    <label class="small">Number of Axis</label>
                    <select class="input-medium" ng-model="panel.numberOfAxis" ng-options="f for f in [2,3]" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>            
        </tr>
        <tr>
            <td>
                <label class="small"></label>
            </td>
            <td>
                <label class="small">Axis 1</label>
            </td>
            <td>
                <label class="small">Axis 2</label>
            </td>
            <td>
                <label class="editor-option" ng-show="panel.numberOfAxis>=3">Axis 3</label>
            </td>            
        </tr>
        <tr>
            <td>
                <label>Axis name</label>
            </td>
            <td>
                <div class="editor-option">
                    <input type="text" class="input-small" ng-model="panel.axis1Label" ng-change="set_refresh(true)">
                </div>
            </td>
            <td>
                <div class="editor-option">
                    <input type="text" class="input-small" ng-model="panel.axis2Label" ng-change="set_refresh(true)">
                </div>
            </td>
            <td>
                <div class="editor-option" ng-show="panel.numberOfAxis>=3">
                    <input type="text" class="input-small" ng-model="panel.axis3Label" ng-change="set_refresh(true)">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Axis sorting by</label>
            </td>
            <td>
                <div class="editor-option">
                    <select class="input-medium" ng-model="panel.axis1Sorting" ng-options="f for f in ['label','value','numberOfLinks']" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
            <td>
                <div class="editor-option">
                    <select class="input-medium" ng-model="panel.axis2Sorting" ng-options="f for f in ['label','value','numberOfLinks']" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
            <td>
                <div class="editor-option" ng-show="panel.numberOfAxis>=3">
                    <select class="input-medium" ng-model="panel.axis3Sorting" ng-options="f for f in ['label','value','numberOfLinks']" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Axis Order</label>
            </td>
            <td>
                <div class="editor-option">
                    <select class="input-medium" ng-model="panel.axis1Order" ng-options="f.value as f.text for f in [{'value': true, 'text':'Ascending'},{'value': false, 'text':'Descending'}]" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
            <td>
                <div class="editor-option">
                    <select class="input-medium" ng-model="panel.axis2Order" ng-options="f.value as f.text for f in [{'value': true, 'text':'Ascending'},{'value': false, 'text':'Descending'}]" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
            <td>
                <div class="editor-option" ng-show="panel.numberOfAxis>=3">
                    <select class="input-medium" ng-model="panel.axis3Order" ng-options="f.value as f.text for f in [{'value': true, 'text':'Ascending'},{'value': false, 'text':'Descending'}]" ng-change="set_refresh(true)" ng-show="true"></select>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="editor-row">
    <div class="section">
        <h5>View Options</h5>
        <div class="editor-option" ng-show="true">
            <label class="small">Legend</label>
            <select class="input-small" ng-model="panel.counter_pos" ng-options="f for f in ['above','below','none']"></select></span>
        </div>
        <div class="editor-option" ng-show="true">
            <label class="small">Legend Format</label>
            <select class="input-small" ng-model="panel.arrangement" ng-options="f for f in ['horizontal','vertical']"></select></span>
        </div>


        <div class="editor-option" ng-show="true">
            <label class="small">Node coloring</label>
            <select class="input-small" ng-model="panel.colorcode" ng-options="f for f in ['black-white','colored']"></select></span>
        </div>
        <div class="editor-option" ng-show="true">
            <label class="small">Sorting Tooltip by</label>
            <select class="input-small" ng-model="panel.sortingTooltip" ng-options="f.value as f.text for f in [{'value': 'source', 'text':'Alphabetically by source'},{'value': 'target', 'text':'Alphabetically by target'},{'value':'data', 'text':'Data'}]" ng-change="set_refresh(true)"></select></span>
        </div>
        <div class="editor-option" ng-show="true">
            <label class="small">Order Tooltip</label>
            <select class="input-small" ng-model="panel.sortingOrderTooltip" ng-options="f.value as f.text for f in [{'value': true, 'text':'Ascending'},{'value': false, 'text':'Descending'}]" ng-change="set_refresh(true)"></select></span>
        </div>
        <div class="editor-option">
            <label class="small">Tooltips</label><input type="checkbox" ng-model="panel.tooltipSetting" ng-checked="panel.tooltipSetting">
        </div>
    </div>
</div>
