.hiveplot-h4 {
    font-size: 16px;
    color: white;
}

.hiveplot-ticks {
    stroke: #555;
    fill: #555;
}

.hiveplot-chord {
    stroke: #555;
}

.hiveplot-marker {
    stroke: #555;
    fill: #555;
}

path.hiveplot-link {
    fill: none;
    stroke-width: 1.5px;
    stroke-opacity: 0.4;
}

.hiveplot-linklabel {
    fill: #555;
    font-size: 13px;
}

.hiveplot-link.hiveplot-active {
    stroke: #DC143C;
    stroke-width: 4px;
    stroke-opacity: 1;
}

.hiveplot-link.hiveplot-inactive {
    stroke-opacity: 0.05;
}

.hiveplot-h5 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

div.hiveplot-tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    color: white;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.hiveplot-tooltip-fix{
    position: absolute;
    width: auto;
    text-align: left;
    padding: 10px;
    color: white;
    font: 12px sans-serif;
    background: black;
    border: 2px solid;
    border-color: black;
    border-radius: 8px;
    pointer-events: none;
}
