.hiveplot-ticks {
    stroke: #eee;
    fill: #eee;
}

.hiveplot-chord {
    stroke: #eee;
}

.hiveplot-marker {
    stroke: #eee;
    fill: #eee;
}

path.hiveplot-link {
    fill: none;
    stroke-width: 1.5px;
}

.hiveplot-linklabel {
    fill: #eee;
    font-size: 13px;
}

.hiveplot-link.hiveplot-active {
    stroke: #DC143C;
    stroke-width: 4px;
    stroke-opacity: 0.8;
}

div.hiveplot-tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    color: white;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
