.networkdiagram-h4 {
    font-size: 16px;
}

.networkdiagram-ticks {
    stroke: #eee;
    fill: #eee;
}

.networkdiagram-chord {
    stroke: #eee;
}

.networkdiagram-marker {
    stroke: #eee;
    fill: #eee;
}

path.networkdiagram-link {
    fill: none;
    stroke: #eee;
    stroke-width: 1.5px;
}

.networkdiagram-linklabel {
    fill: #eee;
    font-size: 13px;
}

.networkdiagram-link.networkdiagram-active {
    stroke: #DC143C;
    stroke-width: 4px;
    stroke-opacity: 0.8;
}

div.networkdiagram-tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    color: white;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.networkdiagram-tooltip-fix{
    position: absolute;
    text-align: left;
    padding: 10px;
    font: 12px sans-serif;
    background: none;
    border-radius: 8px;
    pointer-events: none;
}
