<div class="editor-row">
    <div class="section">
        <h5>Parameters</h5>
        <div class="editor-option">
            <label class="small">Field</label>
            <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
        </div>
        <div class="editor-option">
            <label class="small">Length</label>
            <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
        </div>
        <div class="editor-option">
            <label class="small">Order</label>
            <select class="input-medium" ng-model="panel.order" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"  ng-show="panel.tmode == 'terms'"></select>
        </div>
        <div class="editor-option" ng-show="true">
            <label class="small">Exclude Terms(s) (comma separated)</label>
            <input array-join type="text" ng-model='panel.exclude'></input>
        </div>
    </div>
</div>
<div class="editor-row">
    <div class="section">
        <h5>View Options</h5>
        <div class="editor-option" ng-show="true">
            <label class="small">Legend</label>
            <select class="input-small" ng-model="panel.counter_pos" ng-options="f for f in ['above','below','none']"></select></span>
        </div>
        <div class="editor-option" ng-show="true">
            <label class="small" >Legend Format</label>
            <select class="input-small" ng-model="panel.arrangement" ng-options="f for f in ['horizontal','vertical']"></select></span>
        </div>
    </div>
</div>
